.login-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.login-box {
  width: 300px; 
  padding: 20px; 
  border: 1px solid #ccc; 
  background-color: #fff; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}


.landing-page-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.landing-page-box {
  width: 400px; 
  padding: 20px; 
  border: 1px solid #ccc; 
  background-color: #fff; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
